[Unit]
Description=A simple chat interface and autoresponder for meshtastic

[Service]
Type=simple
WorkingDirectory=/home/quinn/Projects/meshtastic/
ExecStart=sudo /home/quinn/Projects/meshtastic/meshtastic/bin/python -m flask --app /home/quinn/Projects/meshtastic/app.py run --host=0.0.0.0 --port=80
Restart=always
User=quinn
StandardOutput=append:/home/quinn/Projects/meshtastic/logs/meshtastic_system.log
StandardError=append:/home/quinn/Projects/meshtastic/logs/meshtastic_system_error.log

[Install]
WantedBy=default.target